* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    background-color: rgb(0, 0, 0, 0.7);
    background-image: url('image/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.background-set {
    width: 100%;
    height: auto;
    z-index: -1;
}

/* .background-set:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url('image/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg');
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
} */

.btn-containers {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 30px 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn-warehouse,
.btn-sales {
    text-align: center;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: rgb(223, 219, 219);
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
}

.btn-warehouse:hover,
.btn-sales:hover {
    transform: scale(1.1, 1.1);
    transition: 0.7s;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding: 35px 30px;
    border-radius: 5px;
    height: auto;
    align-items: center;
    animation-name: login;
    animation-duration: 1s;
    z-index: 3;
}

.close {
    display: none;
}

.login img {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    cursor: pointer;
}

.login h3 {
    padding: 30px;
}

.login h4 {
    padding: 30px;
}

.login h6 {
    font-size: 0.8rem;
    color: rgb(238, 70, 70);
    margin-bottom: 0px;
}

.login label {
    font-size: 0.8rem;
    margin-left: 10px;
}

.login input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 5px 0 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.login input:focus {
    outline: none;
}

.login button {
    width: 100%;
    padding: 10px 16px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: rgb(80, 76, 76);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.logout-button {
    align-self: flex-end;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: rgb(223, 219, 219);
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    margin: 30px 10px;
}

.warehouse-main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
}

.warehouse-main h1 {
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    padding: 50px 30px 50px 30px;
}

.warehouse-main h3 {
    padding: 20px 0 0 30px;
}

.warehouse-main label {
    font-size: 1rem;
    margin-left: 40px;
    color: white;
}

.warehouse-main input {
    padding: 8px 16px;
    border-radius: 20px;
    margin: 5px 30px 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.warehouse-main input:focus {
    outline: none;
}

.warehouse-year-select {
    padding: 8px 8px;
    border-radius: 20px;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.warehouse-month-select {
    padding: 8px 8px;
    border-radius: 20px;
    margin: 0 30px 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.warehouse-main span {
    font-size: 1.3rem;
    padding: 0 15px 0 30px;
}

.warehouse-main button {
    padding: 8px 16px;
    margin: 5px 5px 10px 5px;
    border-radius: 20px;
    background-color: rgb(80, 76, 76);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}

.warehouse-btns {
    padding: 20px 0 0 25px;
}

.warehouse-main button:focus {
    outline: none;
}

.warehouse-brand-select {
    padding: 8px 8px;
    border-radius: 20px;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.warehouse-car-select {
    padding: 8px 12px;
    border-radius: 20px;
    margin-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-brand {
    margin: 100px;
}

.form button {
    margin-left: 40px;
    /* background-color: black;
    display: flex;
    flex-direction: row;
    align-content: center; */
}

/* .json-rendering {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 30px 20px 0 20px;
    margin-top: 20px;
    height: auto;
    width: 60%;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 10px;
} */

.json-padding {
    width: 30%;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.add-items {
    width: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.add-items h3 {
    align-self: flex-start;
    margin-left: 25px;
}

.add-items label {
    margin-bottom: 5px;
}

.add-items input {
    margin-left: 30px;
    width: 80%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.buttons {
    margin-left: 25px;
}

.add-items select {
    padding: 8px 8px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.select {
    margin-left: 30px;
}

.add-select-month {
    width: 25%;
    margin-left: 5px;
}

.add-items span {
    font-size: 1.3rem;
    padding: 0 5px;
    margin-left: 5px;
}

.add-items p {
    font-size: 0.8rem;
    color: rgb(238, 70, 70);
    margin-bottom: 0px;
}

.add-items h5 {
    padding: 8px 16px;
}

.remove-items {
    width: 25%;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.remove-items h3 {
    padding: 30px 0;
}

.remove-items label {
    align-self: flex-start;
    padding: 0;
}

.remove-items input {
    margin-top: 0;
}

.remove-items button {
    margin-top: 0;
}

.remove-items h4 {
    font-size: 0.8rem;
    color: rgb(238, 70, 70);
    margin-bottom: 0px;
}

.remove-items h5 {
    margin-bottom: 30px;
}

.sales-main {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}

.sales-main h1 {
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    padding: 50px 30px 50px 30px;
}

.sales-main label {
    font-size: 1rem;
    color: white;
    width: 30%;
    padding-left: 15px;
}

.sales-main .first-label {
    margin-bottom: 0;
}

.sales-main input {
    padding: 8px 16px;
    border-radius: 20px;
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.sales-main .first-input {
    margin-top: 0;
}

.sales-main button {
    border-radius: 20px;
    background-color: rgb(80, 76, 76);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 10px;
}

.sales-main h4 {
    font-size: 0.8rem;
    margin-left: 15px;
}

.sales-main h5 {
    font-size: 0.8rem;
    color: rgb(238, 70, 70);
    margin-left: 30px;
    width: 40%;
}

.sales-ser-num-h5 {
    padding-left: 50px;
}

.sales-main .base-price-message {
    font-size: 0.8rem;
    color: rgb(238, 70, 70);
    margin-left: 30px;
    width: 50%;
}

.search-p {
    width: 30%;
    margin: 10px 0;
    padding-left: 15px;
}

.json {
    width: 30%;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.sales-base-price label {
}

.base-price {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    margin-top: 10px;
}

.base-price-message {
    font-size: 0.8rem;
    color: rgb(238, 70, 70);
    margin-left: 0px;
}

.base-price input {
    width: 20%;
}

.base-price-input {
}

.base-price-buttons {
}

.action {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
}

.action p {
    padding: 0 0 20px 15px;
}

.action input {
    margin: 10px 10px;
    width: 20%;
}

.action select {
    padding: 8px 8px;
    border-radius: 20px;
    margin: 5px;
}

.action-buttons {
    width: 80%;
}
